@font-face {
    font-family: heebo;
    src: url(assets/heebo.ttf);
}

@font-face {
    font-family: fa-solid;
    src: url(assets/fa-solid.otf);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

.icon {
    font-family: fa-solid;
    font-style: normal;
}

html {
    background: gray;
}